header .navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.5rem;
  background-color: rgb(240, 240, 240);
}
header .navbar .navbar__brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 0;
  font-size: 1.2rem;
  color: rgb(65, 65, 65);
  text-decoration: none;
}
header .navbar .navbar__brand img {
  width: 5em;
}
header .navbar .navbar__brand .navbar__text {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .navbar .navbar__brand .navbar__text p {
  margin: 0;
  padding-right: 0.5em;
}
header .navbar .navbar__nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 0.2em;
  background: linear-gradient(to bottom, rgb(240, 240, 240), rgba(255, 201, 190, 0.308));
}
header .navbar .navbar__nav .navbar__link {
  display: inline-block;
  padding: 1.5em;
  color: rgb(65, 65, 65);
  text-decoration: none;
}

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  header .navbar {
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    padding-top: 0;
  }
  header .navbar .navbar__brand {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  header .navbar .navbar__brand .navbar__text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header .navbar .navbar__nav {
    align-items: center;
    height: 100%;
    width: 50%;
    padding: 0 1.5em;
    font-size: 1.2rem;
    background: linear-gradient(to right, rgb(240, 240, 240), rgba(255, 201, 190, 0.308));
  }
  header .navbar .navbar__nav .navbar__link {
    justify-content: space-around;
  }
}
/* Large devices (desktops, 992px and up) */
/* X-Large devices (large desktops, 1200px and up) */
/* XX-Large devices (larger desktops, 1400px and up) */
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  background: #fff;
}
body .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
body .swiper .swiper-slide {
  text-align: center;
  width: 300px;
  height: 300px;
  font-size: 2em;
  color: white;
  background-position: center;
  background-size: cover;
}
body #slide1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../Asset/img/slide6.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  object-fit: contain;
  color: rgb(65, 65, 65);
}
body #slide2 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: url(../Asset/img/slide2.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  object-fit: contain;
  color: rgb(255, 201, 190);
}
body #slide3 {
  background-image: url(../Asset/img/slide4.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  object-fit: contain;
  color: rgb(65, 65, 65);
}
body #slide4 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: url(../Asset/img/slide3.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  object-fit: contain;
}
body #slide5 {
  background-image: url(../Asset/img/slide5.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  object-fit: contain;
  color: rgb(65, 65, 65);
}
body #slide6 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: url(../Asset/img/slide1.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  object-fit: contain;
}

@media (min-width: 576px) {
  body .swiper .swiper-slide {
    width: 320px;
    height: 320px;
  }
}
@media (min-width: 768px) {
  body .swiper .swiper-slide {
    width: 350px;
    height: 350px;
  }
}
@media (min-width: 992px) {
  body .swiper .swiper-slide {
    width: 400px;
    height: 400px;
  }
}
/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body .swiper .swiper-slide {
    width: 450px;
    height: 450px;
  }
}
/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  body .swiper .swiper-slide {
    width: 500px;
    height: 500px;
  }
}
/*  Medium devices (tablets, 768px and up) */
/*HEADER*/
/*navbar*/
/* Large devices (desktops, 992px and up) */
/* X-Large devices (large desktops, 1200px and up) */
/* XX-Large devices (larger desktops, 1400px and up) */

/*# sourceMappingURL=styles.css.map */
