.us {
  text-align: center;
  padding-bottom: 20%;
  .us__text {
    padding: 25% 15% 10% 15%;
  }
  .us__img {
    height: 250px;
    width: auto;
    background-image: url(../../Asset/img/social-media-3758364_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}
// Medium devices (tablets, 768px and up)
@include m {
  .us__text {
    padding: 25% 22% 10% 22%;
  }
}
// Large devices (desktops, 992px and up)
@include l {
  .us__text {
    padding: 25% 30% 10% 30%;
  }
}
