// // Carousel
body {
  .swiper {
    width: 100%;
    margin-top: 57%;
    padding-bottom: 50px;

    &-slide {
      text-align: center;
      width: 300px;
      height: 300px;
      font-size: 2em;
      color: white;
      background-position: center;
      background-size: cover;
    }

    // background slide

    &-slide--bg1 {
      @include flexAlignCenter(center);
      @include background(url(../Asset/img/slide6.png));
      color: $greyDark;
    }
    &-slide--bg2 {
      @include flexAlignCenter(flex-end);
      @include background(url(../Asset/img/slide2.jpg));
      color: $pink;
    }
    &-slide--bg3 {
      @include background(url(../Asset/img/slide4.jpg));
      color: $greyDark;
    }
    &-slide--bg4 {
      @include flexAlignCenter(flex-end);
      @include background(url(../Asset/img/slide3.jpg));
    }
    &-slide--bg5 {
      @include background(url(../Asset/img/slide5.jpg));
      color: $greyDark;
    }
    &-slide--bg6 {
      @include flexAlignCenter(flex-end);
      @include background(url(../Asset/img/slide1.jpg));
    }
  }
}

// Small devices (landscape phones, 576px and up)

@include s {
  body {
    .swiper {
      margin-top: 44%;
      &-slide {
        width: 320px;
        height: 320px;
      }
    }
  }
}
// Medium devices (tablets, 768px and up)
@include m {
  body {
    .swiper {
      margin-top: 20%;
      &-slide {
        width: 350px;
        height: 350px;
      }
    }
  }
}
// Large devices (desktops, 992px and up)
@include l {
  body {
    .swiper {
    margin-top: 15%;
      &-slide {
        width: 400px;
        height: 400px;
      }
    }
  }
}
/* X-Large devices (large desktops, 1200px and up) */
@include xl {
  body {
    .swiper {
      margin-top: 12%;
      &-slide {
        width: 450px;
        height: 450px;
      }
    }
  }
}
/* XX-Large devices (larger desktops, 1400px and up) */
@include xxl {
  body {
    .swiper {
      margin-top: 10%;
      &-slide {
        width: 500px;
        height: 500px;
      }
    }
  }
}
