
// Header
header {
  .navbar {
    @include flexDirectionCenter(column);
    margin-bottom: 2.5rem;
    background-color: $cream;
    z-index: 5; 
    &__brand {
      @include flexDirectionCenter(column);
      padding: 1em 0;
      font-size: 1.2rem;
      color: $greyDark;
      text-decoration: none;
      &--img {
        width: 5em;
      }
      &--font {
        @include flexDirectionCenter(row);
        p {
          margin: 0;
          padding-right: 0.7em ;
        }
      }
    }
    &__nav {
      display: flex;
      justify-content: space-between;
      width: 100%;
      border-radius: 0.2em;
      background: linear-gradient(to bottom, $cream, $pinkLigth);
      &-link {
        display: inline-block;
        padding: 5%;
        color: $greyDark;
        text-decoration: none;
      }
      a:hover {
        justify-content: right;
        height: 10%;
        border-radius: 0.3em;
        background-color: $pink;
      }
    }
  }
}
// Medium devices (tablets, 768px and up) 
@include m {
  header {
    .navbar {
      flex-direction: row;
      justify-content: space-between;
      height: 100px;
      padding-top: 0;
      a:hover {
        height: 25%;
        }
      &__brand {
        @include flexDirectionCenter(row);
        .navbar__brand--font {
          @include flexDirectionCenter(column);
        }
      }
      &__nav {
        align-items: center;
        height: 100%;
        width: 50%;
        padding: 0 1.5em;
        background: linear-gradient(to right, $cream, $pinkLigth);
        font-size: 1.2rem;
        &-link {
          justify-content: space-around;
        }
      }
    }
  }
}
//The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  width: 100%;
  position: fixed;
  top: 0;
}
//Add some top padding to the page content to prevent sudden quick movement 
//(as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky .content {
  padding-top: 60px;
}
// // Large devices (desktops, 992px and up)
// @include l {}

// // X-Large devices (large desktops, 1200px and up) 
//   @include xl {}

// /// XX-Large devices (larger desktops, 1400px and up) 
//   @include xxl {}